body {
    background-color: #ffcbd2;
    background-repeat: no-repeat;
    margin: 0px;
}

header {    
    background-color: #ff8fa0;
    grid-column: 2/-2;
    text-align: center;
}

nav {
    background: linear-gradient(to bottom, #ff8fa0, #ffa7b4);
    grid-column: 2/3;
    grid-row: 2/3;
    position: sticky;
    top: 0;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    text-align: center;
    font-size: 40px;
    padding: 10px;

}
nav a {
    text-decoration: none;
    color: #ffffff;
}

main {
    grid-column: 3/-2;
    grid-row: 2/4;
}

p {
    font-size: 20px;
}

footer {
    background-color: #ffa7b4;
    grid-column: 2/-2;
    grid-row: 4/5;
}

#backgroundimg {
    z-index: -1;
    background-image: url(images/1.png);
    background-repeat: no-repeat;
    width: 100%;
    opacity: 70%;
    grid-column: 2/-2;
    grid-row: 2/5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
}